<!DOCTYPE html>
<html ng-app = 'myApp'>
<head>
	<title>Friends</title>
	<link rel="stylesheet" type="text/css" href="./static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./static/style.css">
</head>
<body>
	<div ng-controller = 'friendController'>
	<input type='text' placeholder='BirthdayFilter' ng-model="filter_dob">
	<table class = 'table'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Show</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = 'friend in friends | filter:filter_dob'>
				<td>{{friend.fname}} {{friend.lname}}</td>
				<td><a href="#/show/{{friend._id}}">Show</a></td>
				<td><a href="#/edit/{{friend._id}}">Edit</a></td>
				<td> <button ng-click ='delete(friend._id)'> Delete </button></td>	
			</tr>
		</tbody>
	</table>
	<a href="#/new"><button class='btn btn-primary col-xs-offset-11'>New</button></a>

	</div>

</body>
</html>