<!DOCTYPE html>
<html>
<head>
	<title>New</title>
	<link rel="stylesheet" type="text/css" href="./static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./static/style.css">
</head>
<body>

	<div class = "col-xs-offset-5">
	<h1>User</h1>
	<div ng-controller = 'showController'>
			<table class = "table-striped">
				<tr>
					<td>First Name:</td>
					<td>{{friend.fname}}</td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td>{{friend.lname}}</td>
				</tr>
				<tr>
					<td>Birthday:</td>
					<td>{{friend.dob}}</td>
				</tr>
				<tr>
					<td>User Added:</td>
					<td>{{friend.createdAt}}</td>
				</tr>
			</table>
			</div>
			<a href="#/"><button class = 'btn btn-primary'>Back</button></a>
	</div>

</body>
</html>